<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Razorpages</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container headContainer">
            <div class="logoContainer">
                <a class="logoLink" asp-area="" asp-page="/Start"><img id="logo" alt="Bild på logotyp" src="/files/logomoment1.png" /></a>
            </div>
            <div class="dateContainer">
                <div class="dateWrapper">
                    <p>Dagens datum är: @DateTime.Now.ToShortDateString()</p>
                </div>
            </div>
            <div class="nav-toggle">
                <div class="nav-toggle-bar"></div>
            </div>
        </div>
    </header>
    <div class="container middleContainer">
        <aside>
            <nav class="sideNav nav">
                <ul>
                    <li class="liNav">
                        <a class="nav-link textNav" asp-area="" asp-page="/Start">Start</a>
                    </li>
                    <li class="liNav">
                        <a class="nav-link textNav" asp-area="" asp-page="/Razor">Razor</a>
                    </li>
                    <li class="liNav">
                        <a class="nav-link textNav" asp-area="" asp-page="/Om-sidan">Om sidan</a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container footContainer">
            <p>Av Björn Edin  &copy; @DateTime.Now.ToString("yyyy") - kontakta mig via e-post:</p>
            <a href="mailto: bjed1500@student.miun.se">bjed1500@student.miun.se</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
